.chat-list {
  width: 300px;
  border-right: 1px solid #e0e0e0;
  overflow-y: auto;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-item:hover {
  background-color: #f0f2f5;
}

.chat-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-info {
  flex-grow: 1;
}

.chat-info h3 {
  margin: 0;
  font-size: 16px;
}

.chat-info p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #65676B;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-detail {
  display: flex;
  flex-direction: column;
  height: 500px; /* Set a fixed height or use a percentage */
  border-radius: 8px;
  width: 100%;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  background-color: rgba(255,255,255,0.3);
}

.chat-header .chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.chat-header h2 {
  margin: 0;
  font-size: 18px;
}

.message-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 18px;
  word-wrap: break-word;
}

.message.user {
  background-color: #ff64a5;
  color: white;
  align-self: flex-end;
}

.message.other {
  background-color: #f0f0f0;
  align-self: flex-start;
}

.message-form {
  display: flex;
  padding: 15px;
  background-color: transparent;
  border-top: 1px solid #e0e0e0;
}

.message-input {
  flex-grow: 1;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: rgba(243, 157, 192, 0.468);
  font-size: 14px;
}

.message-input:click {
  flex-grow: 1;
  padding: 10px 15px;
  border: 0.2px;
  border-color: #ff64a5;
  border-radius: 20px;
  background-color: rgba(243, 157, 192, 0.468);
  font-size: 14px;
}

.send-button {
  padding: 10px 15px;
  background-color: #ff64a5;
  color: white;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: #fb8cba;
}