.settings {
    width: 100%;
    max-width: 95vw; 
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    
  }
  
  .settings-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1%;
    color: #333;
  }
  
  .settings-section {
    margin-bottom: 0.5rem;
    background-color: rgba(255, 48, 121, 0.1);
    padding: 2%; 
    border-radius: 10px; 
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);

  }
  
  .settings-section h3 {
    font-size: 1.125em;
    margin-bottom: 3%;
    color: #444;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 3.75em;
    height: 2.125em;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 2.125em;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.625em;
    width: 1.625em;
    left: 0.25em;
    bottom: 0.25em;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: rgb(255, 48, 121);
  }
  
  input:checked + .slider:before {
    transform: translateX(1.625em);
  }
  
  .select-input {
    width: 100%; 
    margin-top: 2%;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    font-size: 1em;
    background-color: #fff;
  }
  
  .settings-button {
    display: block;
    width: 100%;
    padding: 2%; /* Reduce padding */
    margin-top: 3%;
    background-color: #f0f0f0;
    border: none;
    border-radius: 0.25em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #333;
  }
  
  .settings-button:hover {
    background-color: #e0e0e0;
  }
  
  @media (max-width: 48em) {
    .settings {
      padding: 2%;
    }
  
    .settings-section {
      padding: 2%;
    }
  
    .settings-button {
      font-size: 0.875em;
    }
  }


  .elements{
    display: flex;
    flex-direction: column;
  }

  .p1{
    font-size:medium;
    font-weight: bold;
  }
 