.sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../assets/dating_app_background.jpg");
  }
  
  .sign-in-form {
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .sign-in-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #ff5174;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .sign-in-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #fd7a94;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sign-in-button:hover {
    background-color: #ff5174;
  }