.messages {
    display: flex;
    align-items: center;
    margin-right: 1rem; /* Space between Messages and User components */
    color: #fff; /* Text color */
    cursor: pointer;
  }
  
  .messages i {
    margin-right: 0.5rem; /* Space between icon and text */
  }