.matches-container {
    padding: 1rem;
    color: #333;
  }
  
  .matches-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .matches-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .match-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
    cursor: pointer;
    justify-content: space-between;
  }


.match-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}
  
  .match-item:hover {
    background-color: rgba(251, 111, 146, 0.1);
  }
  
  .match-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .match-name {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .remove-favourite-btn {
    background-color: transparent;
    color: #FB6F92;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 500;
  }

  .left-sub-cont{
    display: flex;
    align-items: center; /* Vertically aligns the avatar and name */
    gap: 0.5rem; /* Space between avatar and name */
  }
  