.user {
    display: flex;
    align-items: center; /* Vertikalno centriranje */
    margin-left: auto; /* Pomera element do kraja desne strane */
    color: #fff; /* Boja teksta */
    margin-right: 2rem;
    cursor: pointer;
  }
  
  .user i {
    margin-right: 0.5rem; /* Razmak između ikone i imena korisnika */
  }